
@import "home/_all.scss";
@import "fontface.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans';

  a {
  	transition: 0.4s;
  	text-decoration: none;
  	cursor: pointer;
  }

  body {
  	overflow-x: hidden;
  }

}

.menu-content {
	position: absolute;
	width: 100%;
	font-family: 'Oswald';

	.menu-wrapper {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1180px;
		padding: 0 15px;
		width: 100%;
		align-items: center;
		
		h1 {
			padding: 10px 0;
			@media(max-width: 800px) {
				padding: 30px 0;
				margin: 0 auto;
			}
		} 

		nav {
			display: flex;
			justify-content: flex-end;
			transition: all 0.5s;

			a {
			    display: block;
			    padding: 20px;
			    color: #fff;
			    font-size: 1rem;
			    font-weight: 300;
			    text-transform: uppercase;
			    margin: 0 5px;
			    position: relative;
			    
			    p {
			    	margin: 0;
			    	z-index: 1;
			    	position: relative;
			    	letter-spacing: 2px;
			    }

			    &.active {

				    &:before {
				    	bottom: 13px;
				    	background-color: transparent;
				    	content: "";
				    	height: 4px;
				    	width: 100%;
				    	max-width: 100%;
				    	position: absolute;
				    	left: 50%;
				    	transform: translate(-50%,0);
				    	transition: all 0.5s;
				    	z-index: 0;
				    	opacity: 0;
				    }

				    &:after {
				    	bottom: 15%;
				    	content: "";
				    	width: 40%;
				    	height: 4px;

						background: rgb(226,0,155);
						background: -moz-linear-gradient(top,  rgba(226,0,155,1) 0%, rgba(160,0,2,1) 100%);
						background: -webkit-linear-gradient(top,  rgba(226,0,155,1) 0%,rgba(160,0,2,1) 100%);
						background: linear-gradient(to bottom,  rgba(226,0,155,1) 0%,rgba(160,0,2,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2009b', endColorstr='#a00002',GradientType=0 );

				    	position: absolute;
				    	left: 50%;
				    	transform: translate(-50%, 0%);
				    	transition: all 0.5s;
				    	z-index: 0;
				    }

				    &:hover {
				    	&:before {
				    		height: 37px;
				    		max-width: 100%;
				    		transition-delay: 0.5s;
				    		opacity: 1;

							background: rgb(160,0,2);
							background: -moz-linear-gradient(top,  rgba(160,0,2,1) 0%, rgba(226,0,155,1) 100%);
							background: -webkit-linear-gradient(top,  rgba(160,0,2,1) 0%,rgba(226,0,155,1) 100%);
							background: linear-gradient(to bottom,  rgba(160,0,2,1) 0%,rgba(226,0,155,1) 100%);
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a00002', endColorstr='#e2009b',GradientType=0 );
				    	}
				    	&:after {
				    		width: 100%;
				    	}
				    	p {
				    		color: #fff;
				    	}
				    }
			    }

			    &:hover {
			    	p {
			    		color: #24da86;
			    	}	
			    }

			}

			@media(max-width: 990px){
				position: absolute;
			    flex-flow: column;
			    background: rgba(0,0,0,0.7);
			    width: 100%;
			    left: 0;
			    top: 0;
			    z-index: 10;
			    bottom: 0;
			    height: 85vh;
			    justify-content: center;
			    transform: translate(100%, 0%);

			    a {
			    	font-size: 1.5rem;
			    	&:after {
			    		display: none;
			    	}
			    	&:before {
			    		display: none;
			    	}
			    }

			    &.menu_active {
			    	transform: translate(50%,0%);
			    }
			}
			@media(max-width: 770px){
				height: 580px;
				&.menu_active {
			    	transform: translate(0%,0%);
			    }
			}

		}

		.social-media-hip {
			display: flex;
			padding: 15px 0;

			li {
				list-style: none;
				a {
					align-items: center;
					background-color: #fff;
					color: #000;
					border-radius: 50px;
					display: flex;
					height: 30px;
					width: 30px;
					justify-content: center;
					margin: 0 10px;
					opacity: 0.5;

					&:hover {
						opacity: 1;
					}
				}
			}

			@media(max-width: 770px){
				display: none;
			}
		}
	}
}

.footer {
	background-color: #000;

	.locais-wrapper {
		display: flex;

		.local-item {
			background-color: #222;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 130%;

			align-items: center; 
			color: #fff;
			display: flex;
			flex-flow: column;
			justify-content: center;
			padding: 80px 0;
			width: 100%;
			position: relative;

			&:before {
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				display: block;
			    background: rgba(0,0,0,0.6);
			    z-index: 1;
			}

			h2 {
				text-transform: uppercase;
				font-weight: 400;
				font-size: 2rem;
				font-family: 'Oswald';
				letter-spacing: 3px;
				z-index: 2;
			}
			p {
				font-size: 1rem;
				font-weight: 300;
				z-index: 2;
				b {
					font-weight: 400;
					font-size: 1.2rem;
				}
			}

			&:hover {
				background-size: 150%;
			}
		}

		@media(max-width: 770px){
			flex-flow: column;
			.local-item {
				background-size: cover;
			}
		}
	}

	.brand-footer_hip {
		align-items: center; 
		display: flex;
		color: #fff;
		flex-flow: column;
		justify-content: center;
		padding: 40px 0;
		p {
			margin: 15px 0 0;
			font-size: 0.8rem;
			font-weight: 300;
		}
	}

	.end-footer {
		color: #fff;
		display: flex;
		border-top: 1px solid #ccc;
		justify-content: space-between;
		max-width: 1180px;
		margin: 0 auto;
		padding: 40px 0;
		width: 100%;
		
		p {
			font-size: 0.8rem;
			font-weight: 300;
			b {
				font-weight: 400;
			}
		}

		ul {
			display: flex;
			flex-flow: wrap;
			li {
				list-style: none;
				a {
					display: block;
					color: #fff;
					font-size: 0.8rem;
					font-weight: 300;
					padding: 0 0 0 25px;
					cursor: pointer;

					&:hover {
						color: #24da86;
						text-decoration: underline;
					}
				}
			}
		}

		@media (max-width: 770px) {
		    flex-flow: column;
		    padding: 20px;
		    p {
			    display: flex;
			    flex-flow: column;
			    justify-content: center;
			    align-items: center;
			    margin: 0 0 20px;
		    }
		    ul {
		    	flex-flow: column;
		    	align-items: center;
		    	li {
		    		a {
		    			display: block;
		    			padding: 15px 0;
		    			text-decoration: underline;
		    		}
		    	}
		    }
		}
	}
}


