.about-hip {
	padding: 80px 0;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	.about-hip-wrapper {
		margin: auto;
		padding: 0;
		width: 100%;
		display: flex;
		flex-flow: nowrap;
		position: relative;
		max-width: 1180px;

		.about-hip_text {
		    align-items: center;
			color: #fff;
			display: flex;
		    justify-content: center;
		    flex-flow: column;
		    align-items: flex-start;
			width: 50%;
			position: relative;

		    h2 {
		    	text-transform: uppercase;
		    	font-family: 'Oswald';
		    	font-weight: 400;
		    	font-size: 2rem;
		    	letter-spacing: 2px;

		    	transform: translate(0px,50px);
		    	transition: 0.8s;
		    	opacity: 0;
		    }

			p {
				margin: 0 0 20px;
				font-size: 0.9rem;
				line-height: 30px;
				text-align: justify;
				font-weight: 300;
				padding: 0px 50px 0 0;

				transform: translate(0px,50px);
				transition: 0.8s;
				transition-delay: 0.4s;
				opacity: 0;
			}
		}

		.image-about-hip {
			width: 50%;

			img {
				display: block;
				max-width: 100%;
				width: 100%;
				margin-left: auto;
			}
		}

	}

	&.aboutAnimate {
		.about-hip_text {
			h2 {
				transform: translate(0,0);
				opacity: 1;
			}
			p {
				transform: translate(0,0);
				opacity: 1;
			}
		}
	}

	@media(max-width: 1220px) {
		.about-hip-wrapper {
			padding: 0 20px;
		}
	}

	@media(max-width: 800px) {
		padding: 50px 25px;
		background-position: right;

		.about-hip-wrapper {
			.about-hip_text {
				padding: 0;
				width: 100%;
				p {
					padding: 0;
				}
			}
		}

	}

}