.apresentation {
	.apresentation-wrapper {
		max-width: 1180px;
		margin: auto;
		padding: 60px 0;
		width: 100%;
		display: flex;
		flex-flow: wrap;

		.ideas-thumb {
			width: 50%;
			display: flex;
		    align-items: center;
		    justify-content: center;
		}

		.content-text_apresentation {
			width: 50%;

			p {
				margin: 0 0 20px;
				font-size: 0.8rem;
				line-height: 30px;
				color: #333;
			}
		}

	}

	@media(max-width: 1220px) {
		.apresentation-wrapper {
			padding: 0 20px;
		}
	}

	@media(max-width: 800px) {
		.apresentation-wrapper {
			flex-flow: column;
			padding: 20px 25px;

			.ideas-thumb {
				width: 100%;
				padding: 30px 0 0;
			}
			.content-text_apresentation {
				width: 100%;
				padding: 30px 0;
			}
		}		
	}

}