.hip-news {
	width: 100%;
	padding: 70px 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	.hip-news-wrapper {
		max-width: 1180px;
		margin: auto;

		.description-newsletter {
			padding: 0 0 60px;
		    max-width: 500px;
		    margin: auto;

		    .title-section {
		    	display: flex;
				flex-flow: column;
				text-align: center;

				h2 {
					font-size: 2rem;
					color: #fff;
					text-transform: uppercase;
					font-weight: 400;
					font-family: 'Oswald';
					letter-spacing: 2px;

					&:after {
						content: "";
						height: 4px;
						background-color: #fff;
						width: 100%;
						max-width: 60px;
						display: block;
						margin: 25px auto 25px;
					}
				}

				p {
					font-size: 1rem;
					line-height: 25px;
					margin: 0 0 40px;
					color: #fff;
					font-weight: 200;
					b {
						background-color: #24da86;
						font-weight: 300;
					}
				}
		    }

		    .form-newsletter {
		    	display: flex;
		    	.wrapper-input_news {
		    		position: relative;
		    		margin: 0 5px;
		    		width: 100%;

		    		input {
		    			background-color: transparent;
		    			border: 3px solid #fff;
		    			border-radius: 5px;
		    			height: 40px;
		    			width: 100%;
	    			    padding: 0 10px;
					    font-size: 1rem;
					    color: #fff;
					    font-weight: 600;
					    outline: none;
					    position: relative;
					    z-index: 2;

					    &:focus + label, &:valid + label {
					    	font-size: 10px;
						    color: #24da86;
						    top: 0;
						    left: 0;
						    transform: translate(0,-10px);
						    padding: 0;
					    }
					    &:focus, &:valid {
					    	border-left: 0;
					    	border-top: 0;
					    	border-right: 0;
					    	border-radius: 0;
					    	padding: 0;
					    }
		    		}

		    		label {
		    			position: absolute;
		    			left: 0;
		    			color: #fff;
		    			top: 50%;
		    			transform: translate(30%,-50%);
		    			text-transform: uppercase;
		    			transition: 0.4s;
		    			z-index: 1;
		    		}

		    		&.submit-button {
		    			max-width: 40px;
		    			button {
		    				background-color: transparent;
			    			border: 3px solid #fff;
			    			border-radius: 5px;
			    			cursor: pointer;
			    			color: #fff;
			    			height: 40px;
			    			width: 40px;
			    			font-size: 1rem;
			    			display: flex;
			    			justify-content: center;
			    			transition: 0.3s;
			    			text-align: center;
			    			padding: 0 10px;

			    			&:hover{
			    				background-color: #24da86;
			    				border-color: #24da86;
			    			}
		    			}
		    		}
		    	}
		    }

		}

	}

	@media(max-width: 1220px) {
		.hip-news-wrapper {
			padding: 0 20px;
		}
	}

	@media(max-width: 770px){
		padding: 50px 25px;
		.hip-news-wrapper {
			.description-newsletter {
				.form-newsletter {
					flex-flow: column;
					.wrapper-input_news {
						margin: 0 0 15px;

						&.submit-button {
							button {
								background-color: #24da86;
								border-color: #24da86;
							}
						}
					}
				}
			}
		}
	}
}

.mail-to {
	background-color: #fff;
	text-align: center;
	padding: 50px 0;

	p {
		color: #333;
		font-size: 1.3rem;
		font-weight: 300;

		a {
			font-weight: 600;
			color: #333;
		}
	}
}