.section-latest-posts {
	width: 100%;
	padding: 50px 0 60px;
    background: #f3f3f3;

    &.title-section {
    	.latest-posts-wrapper {
    		.description-opening {
    			max-width: 330px;
    			.title-section {
    				h2 {
    					font-weight: 200;
    					b {
    						font-weight: 600;
    					}
    				}
    			}
    		}
    	}
    }

    &.loop {
    	background-color: #fff;

    	.title-section {
			display: flex;
			flex-flow: column;
			text-align: center;

			h2 {
				font-size: 2rem;
				color: #333;
				font-family: 'Oswald';
				font-weight: 400;
				text-transform: uppercase;
				letter-spacing: 2px;

				&:after {
					content: "";
					height: 4px;
					background: rgb(226,0,155);
					background: -moz-linear-gradient(top,  rgba(226,0,155,1) 0%, rgba(160,0,2,1) 100%);
					background: -webkit-linear-gradient(top,  rgba(226,0,155,1) 0%,rgba(160,0,2,1) 100%);
					background: linear-gradient(to bottom,  rgba(226,0,155,1) 0%,rgba(160,0,2,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2009b', endColorstr='#a00002',GradientType=0 );
					width: 100%;
					max-width: 60px;
					display: block;
					margin: 25px auto 25px;
				}
			}
		}

    }

	.latest-posts-wrapper {
		max-width: 1180px;
		margin: auto;

		.description-opening{
			padding: 0;
		    max-width: 500px;
		    margin: auto;

		    .title-section {
		    	display: flex;
				flex-flow: column;
				text-align: center;

				h2 {
					font-size: 2rem;
					color: #333;
				}

				p {
					font-size: 0.9rem;
					line-height: 25px;
					margin: 15px 0 0;
				}
		    }
		}

		.content-items_solutions{

			.title-section {
				text-align: center;
				h2 {
					&:after {
						content: "";
						height: 4px;
						background-color: green;
						width: 100%;
						max-width: 60px;
						display: block;
						margin: 25px auto 35px;
					}
				}
			}

			.wrapper-posts-list{
				display: flex;
				margin: auto;
				justify-content: space-between;

				.item-latest-posts {
					width: calc(100%/3.2);
					transition: all 0.6s;

					.text-item {
						color: #333;

						h2 {
							font-size: 0.9rem;
							text-transform: uppercase;
							font-family: 'Oswald';
							letter-spacing: 1px;
						}
						p {
							font-size: 0.8rem;
						}
					}
					.wrapper-icon {
						img {
							width: 100%;
						}
					}

					&:first-child {
						transform: translate(100%,30px);
						opacity: 0;
					}
					&:last-child {
						transform: translate(-100%,30px);
						opacity: 0;
					}

				}
			}
		}

	}

	&.blogPostsAnimate {

		.latest-posts-wrapper {
			.content-items_solutions {
				.wrapper-posts-list {
					
					.item-latest-posts {
						&:first-child {
							transform: translate(0%,0%);
							opacity: 1;
						}
						&:last-child {
							transform: translate(0%,0%);
							opacity: 1;
						}
					}

				}
			}
		}
	
	}

	@media(max-width: 1220px) {
		.latest-posts-wrapper {
			padding: 0 20px;
		}
	}

	@media(max-width: 990px){
		.latest-posts-wrapper {
			.content-items_solutions {
				.wrapper-posts-list {
					padding: 0px 30px;
				}
			}
		}
	}

	@media(max-width: 770px){
		padding: 50px 25px 60px;

		.latest-posts-wrapper {
			.content-items_solutions {
				.wrapper-posts-list {
					flex-flow: column;
					margin: 10px 0 30px;
					align-items: center;

					.item-latest-posts {
						width: 100%;
						margin: 0 0 30px;
					}
				}
			}
		}
	}
}