.opening-banner {
	height: 85vh;
	width: 100%;
	font-family: 'Oswald';

	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: flex-start;

	background-position: center;
	background-size: cover;

	@media(max-width: 770px){
		height: 580px;
	}

	.green-bar {
	    height: 4px;
	    width: 100%;
	    max-width: 50px;
	    background: #24da86;
	    display: block;
	    margin: 20px 0 0;
	}

	.opening-wrapper {
		
		// background: rgb(0,0,0);
		// background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(173, 0, 40, 0.8) 100%);
		// background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(173, 0, 40, 0.8) 100%);
		// background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(173, 0, 40, 0.8) 100%);
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ad003c',GradientType=0 );
		
	    width: 100%;
	    height: 100%;
	    display: flex;
	    align-items: center;
	    justify-content: center;

		.opening-content {		
			max-width: 1180px;
			margin: auto;
			width: 100%;
			color: #fff;
			overflow: hidden;

			h2 {
				font-size: 3.2rem;
				max-width: 850px;
				letter-spacing: 3px;
				font-weight: 400;
				text-transform: uppercase;

				display: inline-block;
				transform: translate(-100%,0%);
				transition: 0.6s;
				&:nth-child(2) {
					transition-delay: 0.3s;
				}
			}

			.content-text_opening {
				margin: 20px 0;
				font-family: 'Open Sans';
				font-weight: 300;
				p {
					font-size: 1rem;
					line-height: 25px;
				}
			}

			a {
			    border-radius: 4px;
			    border: 3px solid #24da86;
				color: #fff;
			    display: inline-block;
				font-size: 0.7rem;
				font-family: 'Open Sans';
				font-weight: 500;
				letter-spacing: 2px;
			    opacity: 0;
			    padding: 10px;
			    text-decoration: none;
				text-transform: uppercase;
				transition: 0.8s;
				transform: scale(0.5);

			    &:hover {
			    	background-color: #24da86;
			    }
			}

			&.activeAnimate {
				h2 {
					transform: translate(0%,0%);
				}
				a {
					opacity: 1;
					transform: scale(1);
				}
			}

			@media(max-width: 900px) {
				padding: 0 15px;
			}

		}

	}

	@media(max-width: 1220px) {
		.opening-wrapper {
			.opening-content {
				padding: 0 20px;
			}
		}
	}

	@media(max-width: 800px) {
		padding: 0 25px;

		.opening-wrapper {
			.opening-content {
				text-align: center;
				h2 {
					font-size: 1.4rem;
				}
				.green-bar {
					margin: 20px auto 0;
				}
				.content-text_opening {
					p {
						font-size: 1rem;
					}
				}
			}
		}		
	}


}