.solutions {
	width: 100%;
	padding: 70px 0;
    background: #eee;

	.solutions-wrapper {
		max-width: 1180px;
		margin: auto;

		.solutions-opening {
		    padding: 0 0 60px;
		    max-width: 500px;
		    margin: auto;

			.title-section {
				display: flex;
				flex-flow: column;
				text-align: center;

				h2 {
					font-size: 2rem;
					color: #333;
					font-family: 'Oswald';
					font-weight: 400;
					text-transform: uppercase;
					letter-spacing: 2px;

					&:after {
						content: "";
						height: 4px;
						background: rgb(226,0,155);
						background: -moz-linear-gradient(top,  rgba(226,0,155,1) 0%, rgba(160,0,2,1) 100%);
						background: -webkit-linear-gradient(top,  rgba(226,0,155,1) 0%,rgba(160,0,2,1) 100%);
						background: linear-gradient(to bottom,  rgba(226,0,155,1) 0%,rgba(160,0,2,1) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2009b', endColorstr='#a00002',GradientType=0 );
						width: 100%;
						max-width: 60px;
						display: block;
						margin: 25px auto 25px;
					}
				}

				p {
					font-size: 0.8rem;
					line-height: 30px;
					color: #333;
				}

			}
		}

		.content-items_solutions {
			display: flex;
			justify-content: space-between;

			.item {
			    width: 100%;
			    max-width: 250px;
			    border-radius: 5px;
			    overflow: hidden;
			    transform: rotateY(180deg);
			    transition: all 0.6s;

				.wrapper-icon {
					align-items: center;
					background-color: #24da86;
					display: flex;
					justify-content: center;
					padding: 25px 0;

					svg {
						display: block;
						height: 60px;
						width: 60px;
					}
				}

				.text-item {
					text-align: center;
					padding: 20px;
					background-color: #fff;
					p {
						color: #333;
						font-size: 1.3rem;
						font-family: 'Oswald';
						font-weight: 400;
					}
				}

			}
		}

	}

	&.solutionsAnimate {
    	.solutions-wrapper {
    		.content-items_solutions {
    			.item {
    				transform: rotateY(0deg);
    			}
    		}
    	}	
    }

    @media(max-width: 1220px) {
		.solutions-wrapper {
			padding: 0 20px;
		}
	}

	@media(max-width: 990px){
		.solutions-wrapper {
			.content-items_solutions{
				flex-flow: wrap;
				align-items: center;
				padding: 0 30px;

				.item {
				    align-items: center;
				    justify-content: center;
				    margin: 20px 0;
				    max-width: initial;
					width: calc(100%/2.2);
				}
			}
		}
	}

	@media(max-width: 770px){
		padding: 50px 25px;

		.solutions-wrapper {
			.content-items_solutions{
				flex-flow: column;
				align-items: center;

				.item {
					padding: 0 0 30px;
					width: 100%;
				}
			}
		}
	}

}